<robot name="chair"><link name="body_0"><inertial><origin xyz="1 0 1" rpy="1.5 0.7 0.7" /><mass value="1.0" /><inertia ixx="1" iyy="1" izz="1" ixy="0" ixz="0" iyz="0" /></inertial><origin xyz="1 0 1" rpy="1.5 0.7 0.7" /><visual><origin xyz="1 0 1" rpy="1.5 0.7 0.7" /><geometry><mesh filename="chair.obj" scale="1 1 1" /></geometry></visual><collision><origin xyz="1 0 1" rpy="1.5 0.7 0.7" /><geometry><mesh filename="chair.obj" scale="1 1 1" /></geometry></collision></link></robot>