<robot name="chair"><link name="body_0"><inertial><origin xyz="1.5 0 0" rpy="0 0 0" /><mass value="1.0" /><inertia ixx="1" iyy="1" izz="1" ixy="0" ixz="0" iyz="0" /></inertial><origin xyz="1.5 0 0" rpy="0 0 0" /><visual><origin xyz="1.5 0 0" rpy="0 0 0" /><geometry><mesh filename="table.obj" scale="1 1 1" /></geometry></visual><collision><origin xyz="1.5 0 0" rpy="0 0 0" /><geometry><mesh filename="table.obj" scale="1 1 1" /></geometry></collision></link></robot>